.contenedor_principalSerie{
    height: 100%; /* Toma toda la altura de la pantalla */
    background-image: linear-gradient(to top, var(--colorPrimarioAzul), transparent 110%), url('/img/peliculas-series/series-principales/loki-portada.webp');
    background-size: cover;
    background-position: right; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    width: 100%;     
}

/* MEDIAQUERIES*/

@media (max-width: 834px){ /*tengo que tener como maximo 834px para que se apliquen los cambios*/
    .contenedor_principal{
            background-position: 70%; /* modifico la posicion de la imagen */ 
    }
}

@media(max-width:480px){
    
}

@media(max-width: 428px) { /*tengo que tener como maximo 428px para que se apliquen los cambios*/
    .trailer_video{
            height: 250px;
    }
    .contenedor_principal{
            background-position: 80%; /* modifico la posicion de la imagen */ 
    }
}

@media(max-width: 391px) {

}