.section_title {
    color: var(--colorSecundarioCeleste);
}

.card {
    width: 500px;
    height: 320px;
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid var(--colorSecundarioGris);
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 15px;
}


/* object-fit: cover;: Mantiene la proporción de la imagen y la recorta si es necesario para llenar completamente el contenedor.
object-fit: contain;: Mantiene la proporción de la imagen pero asegura que se vea completa dentro del contenedor, aunque esto puede dejar espacio en los bordes (si la proporción de la imagen no coincide con la del contenedor).
object-fit: fill;: La imagen se estira para llenar el contenedor, pero puede distorsionarse si las proporciones no coinciden. */
.card_body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;

    border-radius: 15px;

    padding: 20px;
    transition: 1s ease;
}

/* .light {
    background-color: #00bfff38;
    backdrop-filter: blur(5px);
    color: white;
} */

.dark {
    background-color: #3e516382;
    backdrop-filter: blur(0.75rem);
    color: white
}

.card:hover .card_body {
    right: 0;
}

.card_title {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
}

.card_info {
    font-size: 16px;
    line-height: 25px;
    margin: 5px 0;
    font-weight: 250;
}

.card_btn {
    color: white;
    background-color: var(--colorPrimarioAzul);
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 300;
    cursor: pointer;
    padding: 0.25rem 0.25rem;
    width: 120px;
}

.card_btn:hover {
    color: var(--colorSecundarioGris);
    background-color: var(--colorSecundarioCeleste);
    font-weight: 500;

}

/* PAGINATIO */

.pagination .page-link {
    background-color: var(--colorPrimarioAzul);
    color: white;
    border: 1px solid var(--colorPrimarioAzul);
    font-weight: 300;
}