/*mediante root puedo pegar algo a todo el documento
defino las variables que voy a utilizar
*/
:root{
    --tipografiaGenereal: 'Poppins';
    --colorPrimarioAzul: #004475;
    --colorSecundarioGris: #353434;
    --colorSecundarioCeleste: #347cbc;
}